<h1>Listing payments</h1>
<% @user.each do |ui|%>
<h2> <%= ui.username %> </h2>

<% @grouped.each do |uid, paym| %>
  <%if uid==ui.id %>
  <table>
      <tr>
    <th>Sum</th>
    <th>Comment</th>
  </tr>
  <% paym.each do |p| %>

  <tr> 
    <td><%= p.pay %></td>
    <td><%= p.comment %></td>
   </tr>
  <% end %>
  </table>
  <% end %>
<% end %>
<% end %>




